body{
	background-color:black;
}
#gameBoard{
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width:600px;
	height:600px;
	
	margin-left:auto;
	margin-right: auto;
}

#gameBoard div{
	background-color:#00EE00;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.message{
	display:none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	color: white;
	font-family: Arial, sans-serif;
	font-size: 8em;
	vertical-align: top;
	text-align: center;
	line-height: 100vh;
}

.LaserGateVerticle{
	background-image: url("images/LaserGateVerticle.png");
}


.LaserGateHorizontal{
	background-image: url("images/LaserGateHorizontal.png");
}

.flag{
	background-image: url("images/flag_red.png") !important; 
}

.wand{
	background-image: url("images/wand.png");
}

.tree{
	background-image: url("images/treeObsitcal.png");
}
.rocks{
	background-image: url("images/rocksObsitcal.png");
}

.fenceVerticle{
	background-image: url("images/fenceVerticle.png");
}
.fenceHorizontal{
	background-image: url("images/fenceHorizontal.png");
}

.heroDown{
	background-image:url("images/heroDown.png");
}

.heroUp{
	background-image: url("images/heroUp.png");
}
.heroLeft{
	background-image: url("images/heroLeft.png");
}
.heroRight{
	background-image: url("images/heroRight.png");
}
.heroWandUp{
	background-image: url("images/heroWandUp.png");
}
.heroWandDown{
	background-image: url("images/heroWandDown.png");
}
.heroWandLeft{
	background-image: url("images/heroWandLeft.png");
}
.heroWandRight{
	background-image: url("images/heroWandRight.png");
}

.heroGateLeft{
	background-image: url("images/heroGateLeft.png");
}

.heroGateRight{
	background-image: url("images/heroGateRight.png");
}

.heroGateDown{
	background-image: url("images/heroGateDown.png");
}

.heroGateUp{
	background-image: url("images/heroGateUp.png");
}

.enemyDown{
	background-image: url("images/enemyDown.png");
}


.enemyUp{
	background-image: url("images/enemyUp.png");
}


.enemyLeft{
	background-image: url("images/enemyLeft.png");
}


.enemyRight{
	background-image: url("images/enemyRight.png");
}

.bridge{
	background-color: #F3BF00 !important;
}
.water{
	background-image: url("images/water.png");
}
.titletext{
	text-align:center;
	color:#305252;
}

h1.titletext{font-size:3em;}
p.titletext{font-size:2em;}

.box{
	height:175px;
	width:175px;
	background-color:#488286;
	display:inline-block;
	margin:10px;
	vertical-align:top;
	text-align:center;
	line-height:175px;
	font-family:Roboto, sans-serif;
	font-size:125px;
}

/* LightBox CSS */
.hidden{
		display:none;
}
.unhidden{
	display:block;
}

#lightbox{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0);
}

#positionMessage{
	position:absolute;
	top:100px;
	left:0px;
	width:100%;
	
}

#boundaryMessage{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:700px;
	height:400px;
	background-color:rgba(255,255,255,0.9);
	z-index:1;
	padding:75px;
	border:thick solid black;
}

#controls{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
#message2{
height: 60px;
width: 200px;
position: absolute;
margin: 10px;
padding: 6px;
background-color: #8A6552;
color: #EBF2FA;
font-size: 1.3em;
outline: none;
left:333px;
}

.message3{
	color: black !important;
}