/*https://coolors.co/77878b-305252-373e40-488286-b7d5d4
#77878B - light slate grey
#305252 - Dark Slate grey
#373E40 - Onyx
#488286 - Steel Teal
#B7D5D4 - Opal
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

#main{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:585px;
	width:595px;
	background-color:#B7D5D4;
	padding:10px;
	
}

body{
	background-color: #77878B;
		font-family: 'Noto Sans JP', sans-serif;
}

.titletext{
	text-align:center;
	color:#305252;
}

h1.titletext{font-size:3em;}
p.titletext{font-size:2em;}

.box{
	height:175px;
	width:175px;
	background-color:#488286;
	display:inline-block;
	margin:10px;
	vertical-align:top;
	text-align:center;
	line-height:175px;
	font-family:Roboto, sans-serif;
	font-size:125px;
}

/* LightBox CSS */
.hidden{
		display:none;
}
.unhidden{
	display:block;
}

#lightbox{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
}

#x{
	position:absolute;
	top:10px;
	right:10px;
	width:30px;
	height:30px;
	z-index:2;
}

#positionMessage{
	position:absolute;
	top:45px;
	left:0px;
	width:100%;
	
}

#boundaryMessage{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:200px;
	background-color:rgba(255,255,255,0.9);
	z-index:1;
	padding:75px;
	border:thick solid black;
}

#controls{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

#newbutton{
	position: absolute;
	top: 15px;
	right: 15px;
	height: 40px;
	width:100px;
	background-color:black;
	color: white;
}